<h1 class="label is-large">> Editar Cadastro </h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <p class="control has-icons-left">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-link", type: "email", placeholder: "example@email.com" %>
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Nova Senha", class: "label" %>
    <p class="control has-icons-left">
      <%= f.password_field :password, autocomplete: "new-password", class: "input is-primary", type: "password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
    <% end %>

  </div>

  <div class="field">
    <%= f.label "Confirmar Nova Senha", class: "label" %>
    <p class="control has-icons-left">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input is-primary", type: "password" %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <%= f.label "Senha Atual", class: "label" %> <i class="help">(Precisamos da sua senha atual pra realizar a alteração)</i>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "input", type: "password" %>
  </div>

    <div class="is-flex is-justify-content-space-between">
      <%= f.submit "Atualizar conta", class: "button is-primary is-outlined" %>
<% end %>
      <%= button_to "Apagar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, class: "button is-danger is-outlined" %>
    </div>

<%= link_to "Voltar", :back, class: "button is-light"  %>
