<h1 class="label is-large">> Esqueceu sua senha?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "label" %>
    <p class="control has-icons-left has-icons-right">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", type: "email", placeholder: "example@email.com" %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>

  <div class="actions">
    <%= f.submit "Enviar instruções de redefinição de senha", class: "button is-primary is-outlined" %>
  </div>
<% end %>

<%# <%= render "devise/shared/links" %>
