!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ProjetoStreaming
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .navbar-brand
      %a.navbar-item{:href => "#"}
        %img{:height => "45", :src => "https://arsal.salvador.ba.gov.br/wp-content/themes/Arsal/img/logos/logo_arsal_rodape.png", :width => "80"}
      %a.navbar-burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
        %span{"aria-hidden" => "true"}
      #navbarBasicExample.navbar-menu
        .navbar-start
          = link_to 'Home', root_path, class: "navbar-item"
    .hero.is-info.is-fullheight-with-navbar
      .hero-body.is-medium
        .column.is-half.is-offset-one-quarter
          .card
            .card-content.has-background-light
              = yield
